<p>
  <strong>Room type:</strong>
  <%= @room_type.rtype %>
</p>
 
<p>
  <strong>Daily Rate:</strong>
  <%= @room_type.daily_rate %>
</p>

<p>
  <strong>Security Deposit:</strong>
  <%= @room_type.security_deposit %>
</p>

<%= link_to 'Back', room_types_path %>


